<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.murali.multilevel">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--com.murali.nlevel.NLevelMainActivity
com.murali.newLevel.NLevelMainActivity

com.murali.customexpand.MultilevelTreeListView-->

        <activity android:name="com.murali.newLevel.NLevelMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
